player-connection-mode=Listen
player-connection-guid=1741225901
player-connection-debug=0
player-connection-project-name=BallRunner
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.3
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
